body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 30px;
}

.links a:visited, a.logo-link:visited {
    color: #F9FAF8;
}

.links a:hover {
    color: #f9faf89f;
}

a.logo-link:hover {
    color: #3882F6;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 100px 100px 100px;
}

h1.hero-title { 
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-container {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 100px 0;
}

.hero-card1, .links {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-card1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button.hero-btn {
    width: 130px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 7px;
}

.hero-card2 {
    width: 50%;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.content {
    background-color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 15px;
}